# Не додавати віртуальне середовище
venv/

# Кеш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Логи
*.log

# Налаштування редакторів (IDE та VSCode)
.vscode/
.idea/

# Системні файли
.DS_Store
Thumbs.db

# Конфігурація та чутливі дані
.env