{% extends 'master.html' %}
{% load static %} {% block title %}Home Page{% endblock %}

{% block script %}
    <script src="{% static 'js/testimonials.js' %}" defer></script>
    <script src="{% static 'js/scroll_animations.js' %}"></script>
    <script src="{% static 'js/habit_creation.js' %}"></script>
{% endblock %}

{% block content %}
    <section class="intro-section">
        <div class="overlay">
            {% include 'partials/navbar.html' %}
            {% include 'partials/sections/hero.html' %}
        </div>
    </section>

    <section class="about-scroll-wrapper" id="aboutUs">
      {% include 'partials/sections/about.html' %}
    </section>

    {% include 'partials/modals/add_habit_modal.html' %}

    {% include 'partials/modals/set_days_modal.html' %}

    {% include 'partials/modals/set_priority_modal.html' %}

    {% include 'partials/modals/summary_modal.html' %}
    
    <section class="tips-section">
      {% include 'partials/sections/tips.html' %}
    </section>
    
    <section class="testimonials" id="testimonials">
      {% include 'partials/sections/testimonials.html' %}
    </section>

    {% include 'partials/footer.html' %}
{% endblock %}