{% load static%}
<div class="pin-container">
  <div class="scroll-content">
            <h1 class="scroll-title">We are hardest on ourselves.</h1>
            <p class="scroll-description">
                Lumos Flow was designed to turn your daily chaos into a structured journey. 
                We don't just track numbers; we visualize your growth.
            </p>
        </div>

        <div class="photo-system">
            <img src="static/images/first.png" class="scroll-photo p-center-top" alt="Habit 1">
            <img src="static/images/second.png" class="scroll-photo p-right-middle" alt="Habit 2">
            <img src="static/images/third.png" class="scroll-photo p-left-bottom" alt="Habit 3">
        </div>

        <div class="details-track">
            <div class="details-column">
                <h3>Our Philosophy</h3>
                <p>We believe that greatness isn't born, it's built—one habit at a time. HabiTrack is your digital architect.</p>
            </div>
            <div class="details-column">
                <h3>Visual Progress</h3>
                <p>Don't just track numbers; see your growth. Our system turns abstract data into a journey.</p>
            </div>
            <div class="details-column">
                <h3>Structured Freedom</h3>
                <p>We help you turn daily chaos into a structured routine, giving you space to focus.</p>
            </div>
            <div class="details-column">
                <h3>Beyond Tracking</h3>
                <p>Whether you are starting or refining an elite routine, we ensure every step counts.</p>
            </div>
            <div class="details-column">
                <h3>Daily Mastery</h3>
                <p>Small wins lead to big changes. Consistency is the only bridge between goals.</p>
            </div>
        </div>
    </div>